@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

:root {
    --pri: #12121C;
    --sec: #595e64;
    --highlights: #FFB106;
    --text: #d8dddf;
}
html{
    scroll-behavior: smooth;
    scrollbar-color: var(--highlights);
}
body {
    background-color: var(--pri);
    color: var(--text);
    margin: 0 auto;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
    text-align: justify;
}

.menu {
    display: flex;
    background-color: var(--highlights);
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}

.menu ul {
    display: flex;
    gap: 30px;
    margin-right: 20px;
}

.menu li {
    list-style: none;
}
/* .menu button {
    background-color: var(--highlights);
    border: none;
    padding: 10px;
    transition: .4s;
    font-size: 20px;
    width: 150px
} */
.menu img{
    width: 50px;
    margin-left: 20px;
}
.menu button:hover {
    transition: .4s;
    transform: translateX(15px);
    cursor: pointer;
    filter: drop-shadow(var(--highlights) 0px 0px 10px);
}

.menu a {
    text-decoration: none;
    color: var(--pri);
    transition: .4s;
    font-weight: 900;
}

.menu a:hover {
    color: var(--text);
    transition: .4s;
}

menu::after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--text);
}

.banner {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    width: 100%;
    height: 1000px;
    background-color: var(--text);
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0;
}

.start {
    text-decoration: none;
    color: var(--pri);
    background-color: var(--highlights);
    border-radius: 200px;
    margin: 20px;
    padding: 20px 40px 20px 40px;
    transition: .4s;
}
.cta p{
    font-size: 25px;
    font-weight: bolder;
}
.start::after {
    content: '↓';
    margin-left: 20px;
}

.start:hover {
    box-shadow: 0 0 50px var(--highlights);
    transform: translateY(-10px);
    transition: .4s;
}
.cta{
    display: flex;
    flex-direction: column;
    /* width: fit-content; */
    justify-content: center;
    align-items: center;
}
h2,
h3 {
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}

h2 {
    font-size: 70px;
    text-align: center;
}

h3 {
    font-size: 50px;
    margin-bottom: 0;
}
.cassidy>.background{
    position: absolute;
    inset: 0;
    background: url("../images/backgrounds/the-shootist.jpg") center/cover;
    filter: blur(6px) saturate(0);
    z-index: -1;
    opacity: 30%;
}
.donaldlove>.background{
    position: absolute;
    inset: 0;
    background: url("../images/backgrounds/TheParty-GTAVC3.jpg") center/cover;
    filter: blur(6px) saturate(0);
    z-index: -1;
    opacity: 30%;
}
.catalina>.background{
    position: absolute;
    inset: 0;
    background: url("../images/backgrounds/Claude-GTASA-WithCatalina.jpg") center/cover;
    filter: blur(6px) saturate(0);
    z-index: -1;
    opacity: 30%;
}
.claude>.background{
    position: absolute;
    inset: 0;
    background: url("../images/backgrounds/Claude-GTASA-WuZiMu.jpg") center/cover;
    filter: blur(6px) saturate(0);
    z-index: -1;
    opacity: 30%;
}
.leone>.background{
    position: absolute;
    inset: 0;
    background: url("../images/backgrounds/TheIntroduction-GTASA-SS15-SalvatoreLeone.jpg") center/cover;
    filter: blur(6px) saturate(0);
    z-index: -1;
    opacity: 30%;
}
.kenrosenberg>.background{
    position: absolute;
    inset: 0;
    background: url("../images/backgrounds/Catalina-GTAIII-RansomMoney.jpg") center/cover;
    filter: blur(6px) saturate(0);
    opacity: 30%;
    z-index: -1;
}
.cassidy,
.donaldlove {
    display: flex;
    gap: 200px;
    overflow: hidden;
    position: relative;
    /* text-align: justify; */
}

.catalina,
.claude,
.kenrosenberg,
.leone {
    display: flex;
    flex-direction: row-reverse;
    gap: 200px;
    justify-content: center;
    /* text-align: justify; */
    position: relative
}

.catalina img,
.claude img,
.kenrosenberg img,
.leone img,
.cassidy img,
.donaldlove img {
    min-width: 500px;
    min-height: 500px;
    padding: 0px;
}

.catalina div:not(.background),
.claude div:not(.background),
.kenrosenberg div:not(.background),
.leone div:not(.background){
    margin-left: 100px;
}

.cassidy div:not(.background),
.donaldlove div:not(.background){
    margin-right: 100px;;
}
/* p{
    margin: 0;
} */
.cta {
    margin: 100px;
}

section img {
    width: 400px;
}
.dad-son>div, .cash{
    display: flex;
    gap: 50px;
    align-items: center;
}
h4{
    text-align: center;
}
.daniel-zero>div{
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
    align-items: center;
}
.bully>ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 0px;
    margin: 0 auto;
}
.bully li{
    list-style: none;
    width: fit-content;
}
.bully>ul img{
    height: 500px;
    width: 700px;
    transition: .4s;
}
.bully>ul img:hover{
    filter: saturate(0);
    opacity: 30%;
    transition: .4s;
    cursor: pointer;
}
/* p{
    width: 70%;
} */
.manhunt .content{
    display: flex;
}
.manhunt .content>img{
    float: right;
    width: 500px;
    margin-right: 10px;
    aspect-ratio: 4/5;
    object-fit: cover;
}
.dad-son>div>img{
    width: 1000px;
}
.daniel-zero img{
    width: 500px;
    float: right;
}
.bully, .manhunt, .theories{
    margin: 100px;
}
.bully h3, .manhunt h3, .theories h3{
    text-align: center;
}